

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
    overflow-x: hidden;
    width: 100%;
    height:100% ;
    
  }
  .nav1{
    background: #457b9d;
    padding:  20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }

  .nav2 {
    background-color: #f1faee;
  }

  .label.logo{
    color: white;
    width: 100px;
  }

  .nav1 ul{
    display: flex;
    list-style-type: none;

  }
  .nav2 ul{
    display: flex;
    list-style-type: none;
    padding: 10px;
    justify-content: center;
  }

  
  .nav1 ul li a{
    color: white;
    font-size: 10px;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
  }

  .nav2 ul li a{
    color: black;
    font-size: 10px;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
  }
  a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
  }

  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  #check{
    display: none;
  


  }
  button {
    background-color:#e63946; 
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px; 
  }

  button:hover {
    background-color:#1d3557;
  }
  
  a:hover,a.active{
    background: none;
    color: #0082e6;
}
  #check:checked ~ ul{
    left: 0;
  }

  .container {
    align-content: center; 
    border: 1px solid red;
    
  }

  .text1   {
    text-align: center;
    margin-top: -29%;
    /* border: 1px solid green;
    background-color: blue; */
  }

  .text2 {
    align-content: space-between;
    margin-top: 20px;
  }

  .button {
    background-color: #e63946; 
    border: none;
    color: white;
    padding: 10px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px 25px;
    cursor: pointer;
    border-radius: 20px; 
   } 

   .button:hover {
    background-color: black;
   }

  .Welcome  {
    text-align: center;
    margin-top: 180px;
    padding: 10px;
    display: grid;
    align-items: center;
    border: 1px solid green;
    
    
  }


  .Library-content p {
    display: grid;
    width: 50%;
    float: right;
    grid-template-columns:auto auto;
    text-align: start;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: 200px;
    padding: 60px;
  }
  
  .rectangles {
    background-color:#1d3557 ;
    margin-top: 2%;
    height: 300px; 
    padding-top: 1px;
    padding-left: 35px;

  }

  .kids {
    background-color: #1d3557;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f1faee;
  }

  
  .kids-image img {
    width: 100%;

  }

  .kids-image {
    position: relative;
  }
  .kids-content {
    padding: 40px;
    width: 40%;
    

  }
  .kids-content h1{
    text-align: center;
  }
  .kids-content hr{
    width: 80%;
    border-top:1px solid  grey;
    margin: 10px 0;
  }
  
.Lorem {
  align-content: space-between;
}
.container {
  display: flex;
  flex-wrap: wrap;
   
} 

.container5{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-align: center;
}

.container5 div {
  height: 255px ;
  border-radius: 30px;
  box-shadow:rgba(0, 0, 0, 0.25); 
  background-color: #f1faee;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 20px;
}
.items {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
}

.action button{
  background-color: red;
  padding: 20px ;
  width: 40%;
  
}
.action {
  display: flex;
  justify-content: space-around;
}

.header {
  margin-top: 100px;
  margin-left: 60px;

}


.kids-text {
  color: white; 
  background-color: red;
  position: absolute;
  bottom: 110px;
  width:100% ;


} 

.container-4 {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr); 
  justify-content: center;
  align-content: space-around;
  margin: 40px;
} 
 
footer {
  text-align: center;
  padding: 20px; 
  width: 100%;
  background-color: #457B9D;
  color: white;
  position: sticky;
  bottom: 0;
  
}   
@media only screen and (max-width: 1183px) {
  .Welcome{
    margin-top: -10px;
    /* border: 1px solid black; */
  }
 

 }@media (min-width: 1001px)and (max-width: 1183px) {
  .Welcome{
    margin-top: 60px;
    /* border: 1px solid black; */
  }
  
 

 }


 @media only screen and (max-width: 1000px) {
  .Welcome{
    margin-top: 30px;
    /* border: 1px solid black; */
  }
  
 }
 
   @media only screen and (max-width: 600px) {
    .items {
      width:fit-content;
      height: fit-content;
    }
    .Welcome {
      /* border: 1px solid blue; */
      margin-top: 0px;

    }
    .text1 { 
      margin-top: -20%;
     /* / background-color: blue; */
      
    } 
    button{
       margin-top: 0px;}

    .library-content p {
      display: flex;
      flex-direction: row;
    }
    .header {
      text-align: center;
    }

   }
   







